<div class="container">
  <div class="row d-flex flex-fill">
    <div
      class="col-md-2 d-flex justify-content-center bg-primary flex-fill"
    >Nome</div>
    <div class="col-md-2 d-flex justify-content-center flex-fill bg-primary ">Telefone</div>
    <div class="col-md-2 d-flex justify-content-center flex-fill bg-primary ">Origem</div>
    <div class="col-md-2 d-flex justify-content-center flex-fill bg-primary ">Data de
      contato</div>
    <div
      class="col-md-2 d-flex justify-content-center flex-fill bg-primary "
    >Observação</div>
  </div>
</div>